body{
  background: #ff8d68;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #001f52;
  font-size: 15px;
  line-height: 1.6em;
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}

h1{
  color: #fc624d;
  font-size: 22px;
}

h2{
  color: #18587a;
  text-align: center;
}
h3{
  font-size: 16px;
  font-weight: 300;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;
}

img{
  width: 200px;
}

a{
  color: #fc8a15;
  text-decoration: none;
}

a:hover{
  color: #c06c84;
  text-decoration: none;
}


/* DIV*/
.container{
  width: 700px;
  margin: 30px auto;
}
.card{
  background: #ffd3b6;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.img-circle{
  border-radius: 50%;
}
.text-center{
  text-align: center;
}
.btn-green{
  background: #009378;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
}
.btn-green:hover{
  color: white;
  background: #1ee494;
}
.list-inline{
  padding-left: 0px;
  list-style: none;
  font-size: 20px;
}
.list-inline li{
  display: inline-block;
  width: 150px;
  font-size: 40px;
}
#sidebar{
  color: #ff8d68;
  position: fixed;
  width: 100px;
  top: 10px;
  bottom: 450px;
  text-align: center;
  background:#18587a;
  border-radius: 10px;
  margin-left: 75px
}
#sidebar ul {
  padding-left: 0px;
  list-style: none;
  font-size: 15px;
}
#sidebar ul li{
  margin-bottom: 20px;
  font-size: 30px;
}
#page-content{
  margin-left: 20px;
}
